.wrapper {
  max-width: 1170px;
  margin: 50px auto;
}
.pict {
  display: inline-block;
  width: 29%;
  margin-right: 3%;
  height: 250px;
  overflow: hidden;
}
.pict img {
  width: 100%;
  height: auto;
}
