* {
  font-family: Arial;
}
h1 {
  color: #015ca3;
}
.wrapper {
  max-width: 1170px;
  margin: 50px auto;
}
.pict {
  display: inline-block;
  position: relative;
  margin-right: 3%;
  width: 29%;
  height: 250px;
  overflow: hidden;
}
/*.pict:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: #4b89bf;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
}
.pict:hover:before {
    opacity: 0.7;
}
.pict .pict-hover-text {
    line-height: 0px;
    color: transparent;
    opacity: 0;
    position: absolute;
    left: 10px;
    right: 10px;
    word-break: normal;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #ffffff;
    width: auto;
    z-index: 10;
    word-wrap: break-word;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}
.pict:hover .pict-hover-text {
    opacity: 1;
    line-height: 30px;
}*/
.pict-hover-text {
    height: 79px;
    margin-top: -81px;
  position: relative;
    overflow: hidden;
    width: 200px;
    margin: -58px 0 2px;
}
.pict-hover-text div {
    color: #fff;
    opacity: 0;
    background-color: rgba(29,32,34,.7);
    width: 200px;
    margin-top: 40px;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    border-radius: 0 0 2px 2px;
    padding: 5px 0;
}
.pict:hover .pict-hover-text div{
    opacity: 1;
    -webkit-filter: none;
    filter: none;
    margin-top: 0;
}
.pict img {
  width: 100%;
  height: 250px;
}
